<%= flash[:notice] %>
<div class="container">
  <div class="row">



<div class="col-md-8 offset-md-1">


  <h2>レビューする</h2>
<td>
  <%= link_to @user.name, user_path(@user.id) %></td>
  <%=@review.product_name %>
  <%=@review.amount %>円
  <%=@review.category.brand_name %>
  <%= render 'static_rate', review: @review %>
  <div>
  <p>コメント件数：<%= @review.comments.count %></p>
  <% @review.comments.each do |comment| %>

    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.text %>
  <% end %>
</div>
<div>
  <%= form_with model: [@review, @comment] do |f| %>
    <%= f.text_area :text, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>

</div>

</div>
</div>
</div>




