 <h1>New review</h1>
<%= form_with model: Review.new do |f| %>

  <h4>商品名</h4>
  <%= f.text_field :product_name %>
  <h4>金額</h4>
  <%= f.number_field :amount %>
  <h2>カテゴリー</h2>
  <%= f.collection_select :category_id, Category.all, :id, :brand_name, { prompt: '選択してください' }, class: 'form-control' %>
  

  <% if review.id.nil? %>
    <div class="form-group" id="rate">
      <%= f.label :rate %>
      <%= f.hidden_field :rate, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;
        elem.innerHTML = "";
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[rate]',
        };
        raty(elem, opt);
      });
    </script>
    
    <%= f.submit 'Create Review' %>
    
    
  <% else %>
    <div class="form-group">
       # 評価の編集機能実装時に考える
      <%= render "review", review: @review %>
    </div>
  <% end %>


<% end %>

